@model SE_Bank.Models.UserModel
@{
    ViewBag.LogInOut = "Log Out";
}
<div>
    <h4>Admin Page</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.UserName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.UserName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Password)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Password)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IsAdmin)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IsAdmin)
        </dd>
    </dl>
</div>

<div style="position:absolute">
    @using (Html.BeginForm("AllTransactions", "TransactionData", Model))
    {
        <input type="submit" value="Generate transactions report" />
    }

</div>

<div>
    <a class="nav-link text-dark" asp-area="" asp-controller="LogIn" asp-action="Index"></a>
    <a class="nav-link text-dark" asp-area="" asp-controller="LogIn" asp-action="Index"></a>
    <a class="nav-link text-dark" asp-area="" asp-controller="LogIn" asp-action="Index"></a>



</div>



<div style="position:absolute">
    @using (Html.BeginForm("CloseAccount", "AdminActions", Model))
    {
        <input type="text" name="user" placeholder="Name of Client" />
        <input type="submit" value="Close account" />
    }

</div>
<div>
    <a class="nav-link text-dark" asp-area="" asp-controller="LogIn" asp-action="Index"></a>
    <a class="nav-link text-dark" asp-area="" asp-controller="LogIn" asp-action="Index"></a>
    <a class="nav-link text-dark" asp-area="" asp-controller="LogIn" asp-action="Index"></a>



</div>
<div>
    @ViewBag.CloseAccountResultMessage
</div>
