@model SE_Bank.Models.UserModel
@{
    ViewBag.usrName = Model.UserName;
}
<div>
    <h4>Welcome</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.UserName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.UserName)
        </dd>
        <dt class="col-sm-2">
            Balance
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Ballance)
            <!--@Model.Ballance -->
        </dd>
    </dl>
</div>
<div style="position:absolute">
    @using (Html.BeginForm("TransferMoney", "UserActions", Model))
    {
        <input type="text" name="usernameTransfer" placeholder="Enter the user name " />
        <input type="text" name="amountTransfer" placeholder="Enter the sum of money" />
        <input type="submit" value="Transfer money" class="btn btn-primary" />
    }

</div>

<div>
    <a class="nav-link text-dark" asp-area="" asp-controller="LogIn" asp-action="Index"></a>
    <a class="nav-link text-dark" asp-area="" asp-controller="LogIn" asp-action="Index"></a>
    <a class="nav-link text-dark" asp-area="" asp-controller="LogIn" asp-action="Index"></a>

</div>
<div>
    @ViewBag.TransferResultMessage
</div>


<div>
    <a class="nav-link text-dark" asp-area="" asp-controller="LogIn" asp-action="Index"></a>
    <a class="nav-link text-dark" asp-area="" asp-controller="LogIn" asp-action="Index"></a>
    <a class="nav-link text-dark" asp-area="" asp-controller="LogIn" asp-action="Index"></a>


</div>

<div style="position:absolute">
    @using (Html.BeginForm("UserTransactions", "TransactionData", Model))
    {
        <input type="submit" value="See transactions history" class="btn btn-primary" />
    }

</div>

<div>
    <a class="nav-link text-dark" asp-area="" asp-controller="LogIn" asp-action="Index"></a>
    <a class="nav-link text-dark" asp-area="" asp-controller="LogIn" asp-action="Index"></a>
    <a class="nav-link text-dark" asp-area="" asp-controller="LogIn" asp-action="Index"></a>



</div>

<div>
    <a class="nav-link text-dark" asp-area="" asp-controller="LogIn" asp-action="Index"></a>
    <a class="nav-link text-dark" asp-area="" asp-controller="LogIn" asp-action="Index"></a>
    <a class="nav-link text-dark" asp-area="" asp-controller="LogIn" asp-action="Index"></a>



</div>

<div style="position:absolute">
    @using (Html.BeginForm("UpdateUserByPassword", "UserActions", Model))
    {
        <input type="password" name="new_password" placeholder="New Password" />
        <input type="password" name="old_password" placeholder="Old Password" />
        <input type="submit" value="Change Password"  class="btn btn-primary"/>
    }
</div>
<div>
    <a class="nav-link text-dark" asp-area="" asp-controller="LogIn" asp-action="Index"></a>
    <a class="nav-link text-dark" asp-area="" asp-controller="LogIn" asp-action="Index"></a>
    <a class="nav-link text-dark" asp-area="" asp-controller="LogIn" asp-action="Index"></a>
</div>
<div>
    @ViewBag.ChangePasswordResultMessage
</div>

<div>
    <a class="nav-link text-dark" asp-area="" asp-controller="LogIn" asp-action="Index"></a>
    <a class="nav-link text-dark" asp-area="" asp-controller="LogIn" asp-action="Index"></a>
    <a class="nav-link text-dark" asp-area="" asp-controller="LogIn" asp-action="Index"></a>



</div>

<div>
    <a class="nav-link text-dark" asp-area="" asp-controller="LogIn" asp-action="Index"></a>
    <a class="nav-link text-dark" asp-area="" asp-controller="LogIn" asp-action="Index"></a>
    <a class="nav-link text-dark" asp-area="" asp-controller="LogIn" asp-action="Index"></a>



</div>


<div style="position:absolute">
    @using (Html.BeginForm("UpdateUsername", "UserActions", Model))
    {
        <input type="text" name="new_username" placeholder="New Username" />
        <input type="submit" value="Change Username" class="btn btn-primary" />
    }
</div>
<div>
    <a class="nav-link text-dark" asp-area="" asp-controller="LogIn" asp-action="Index"></a>
    <a class="nav-link text-dark" asp-area="" asp-controller="LogIn" asp-action="Index"></a>
    <a class="nav-link text-dark" asp-area="" asp-controller="LogIn" asp-action="Index"></a>



</div>
<div>
    @ViewBag.ChangeUsernameResultMessage
</div>
